<!DOCTYPE html>
<html>
    <head>
        <title>FAST Calcule - Connexion</title>
             <!-- Core CSS - Include with every page -->
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../font-awesome/css/font-awesome.css" rel="stylesheet">
       <link href="../css/back.css" rel="stylesheet">
    </head>
    <body class="signin">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=Etirec?fref=ts";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<section>
  
    <div class="signinpanel">
 <div class="logopanel">
                         <h1><span>[</span> FastCalc <span>]</span></h1>
</div>
<div class="mb20"></div>
<h5><strong>LE PONT VERS L'EXCELLENCE</strong></h5>
        <div class="row">

        <div class="col-lg-6">
                
                <div class="signin-info">
                    
                    <div class="fb-page" data-width="500" data-href="https://www.facebook.com/Etirec" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Etirec"><a href="https://www.facebook.com/Etirec">ETIREC</a></blockquote></div></div>
                    
                    <!--<ul>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> Lorem ipsum dolor.</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> Lorem ipsum dolor sit amet.</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> Lorem ipsum dolor sit amet, consectetur.</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> Lorem ipsum dolor sit.</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> and much more...</li>
                    </ul> -->
                    <div class="mb20"></div>
                    <!--  <strong>Not a member? <a href="signup.html">Sign Up</a></strong> -->
                </div><!-- signin0-info -->
            
            </div><!-- col-sm-7 -->

  <div class="col-lg-6">

                        
                             
                            <form method="post" class="form" action="/login">
                             <h4 class="nomargin">Connexion</h4>
                            <p class="mt5 mb20">Vous devez vous identifier pour accéder à votre compte..</p>
                               
                                    <input type="text" class="form-control uname" name="username" placeholder="Username.." />
                                    <input type="password" class="form-control pword" name="password" placeholder="Password.." />
                                    <p></p>
                                    <button type="submit" class="btn btn-warning">
                                        <i class="fa fa-unlock fa-fw"></i> Login
                                    </button>
                                    <span style="color:red"> <%= error_login %> </span>
                            
                            </form>
</div>

 </div>

        

                         <div class="signup-footer">
            <div class="pull-left">
                &copy; 2015. All Rights Reserved.
            </div>
            <div class="pull-right">
                Created By: <a href="http://www.etirec.com/" target="_blank">Sté ETIREC</a>
            </div>
        </div>

        </div>
        </section>
    </body> 

</html>
