<div class="modal fade" data-backdrop="static" id="modal-source" role="dialog" area-labelledby="modal-label">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modal-label">Source</h4>
          </div>
          <div class="modal-body">
            
            <form role="form" id="source-form" method="post" action="/source/save-source">
              <div class="form-group">
                <label for="libelle">Libelle</label>
                <input type="hidden" name="source_id" id="source_id" value=""/>
                <input type="text" class="form-control" name="libelle" id="libelle" placeholder="Libellé..." required>
                
               

              </div>
              <div class="form-group">
                <label for="adresse">Adresse <small class="pass-info"></small></label>
                  <input type="text" class="form-control" name="adresse" id="adresse" placeholder="Adresse..." required>               
                  </div>


                  <div class="form-group">
                <label for="puissance">Puissance (MVA) <small class="pass-info"></small></label>
                    <input type="text" class="form-control" name="puissance" id="puissance" placeholder="Puissance..." required>
                   </div>
              
              
              
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" class="btn btn-primary" id="save-source"><i class="fa fa-save"></i> Save</button>
              </div>
            </form> 
          </div>
         
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

