 </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="../js/bootstrap.js"></script>
    <script src="../js/all.js"></script>
<script src="../js/jquery.btechco.excelexport.js"></script>
<script src="../js/jquery.base64.js"></script>
</body>

</html>

