<div class="modal fade" data-backdrop="static" id="modal-calcule" role="dialog" area-labelledby="modal-label">

    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modal-label">Note de calcul </h4>
          </div>
          <div class="modal-body">
            
              
<div class="t2">
<form role="form" id="calcule-form1" method="post" action="/calcule/update-calcule">
<div class="form-group">
               <input type="hidden" name="calcule_id" id="calcule_id" value=""/>
               <label for="nom_boucle">Nom de la boucle :  <small class="pass-info"></small></label>
                  <input type="text" class="form-control" name="nomboucle" id="nomboucle" placeholder="Nom de la boucle ..." required> 
               </div>



              <div class="form-group">
                <label for="PT01">PT01 :  <small class="pass-info"></small></label>
                  <input type="text" class="form-control" name="PT01" id="PT01" placeholder="PT01 ..." required>               
                  </div>
<div class="form-group">
                <label for="PT02">PT02 :  <small class="pass-info"></small></label>
                  <input type="text" class="form-control" name="PT02" id="PT02" placeholder="PT02 ..." required>               
                  </div>
                  <div class="form-group">
                <label for="longueur">longueur : (m) <small class="pass-info"></small></label>
                  <input type="text" class="form-control" name="longueur" id="longueur" placeholder="longueur ..." required>               
                  </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button  class="btn btn-primary" id="save-calcule1" class="test"><i class="fa fa-save"></i> Save</button>
              </div>
                 </form> 
</div>
<div class="t1">
            <form role="form" id="calcule-form" method="post" action="/calcule/save-calcule">

              <div class="ui-widget">
               <input type="hidden" name="calcule_id" id="calcule_id" value=""/>
  <label>Poste de source :  </label>
  <select id="combobox" name="id_source">
    <option value="">Choisissez une source ...</option>
             <%for(var i = 0;i < data1.length;i++) { %>
   
    <option value="<%=data1[i].id%>"><%=data1[i].libelle%></option>
    
        <%}%>
  </select>
</div>

                <div class="form-group">
                <label for="boucle">Nom de la boucle :  <small class="pass-info"></small></label>
                  <input type="text" class="form-control" name="nom_boucle" id="nom_boucle" placeholder="Nom de la boucle ..." required>               
                  </div>


              <div class="form-group">
                <label for="adresse">Nombre de poste :  <small class="pass-info"></small></label>
                  <input type="text" class="form-control" name="nb" id="nb" placeholder="Nombre de poste ..." required>               
                  </div>


                  <div class="form-group">
                <label for="puissance">Section de cable : (mm²) <small class="pass-info"></small></label>
                    <input type="text" class="form-control" name="section_cable" id="section" placeholder="240 ..." required>
                   </div>

         <div class="form-group">
                <label for="puissance">Niveau de tension : (KV) <small class="pass-info"></small></label>
                    <input type="text" class="form-control" name="niveau_tension" id="niveau" placeholder="Niveaux de tension ..." required>
                   </div>

<div class="form-group">
                <label for="puissance"> Coefficient :  (V/A/Km) <small class="pass-info"></small></label>
                    <input type="text" class="form-control" name="coefficient" id="coefficient" placeholder=" 0.31 ..." required>
                   </div>

                   <div class="form-group">
                <label for="puissance"> Puissance par point : (KVA) <small class="pass-info"></small></label>
                    <input type="text" class="form-control" name="puissance_point" id="puissance" placeholder=" 630 ..." required>
                   </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" class="btn btn-primary" id="save-calcule"><i class="fa fa-save"></i> Save</button>
              </div>
              </div>

   </form> 
         
          </div>
         
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

